*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1000ms ease-out;
  height: 100vh;
}

.background-dark {
  background-color: rgb(36, 36, 36);
}
.lightswitch {
  cursor: pointer;
  background-color: transparent;
  border: 5px black solid;
  border-radius: 0.1rem;
  box-shadow: 0rem 0rem 1rem 0.5rem white;
  font-family: monospace;
  color: black;
  font-size: 2rem;
  width: 16rem;
  height: 4rem;
  transition: background-color 1000ms ease-out, color 500ms ease-out;
}

.lightswitch-dark {
  border: 5px white solid;
  box-shadow: 0rem 0rem 1rem 0.5rem rgb(231, 220, 185);
  color: white;
}
